# Copyright (c) 2020 HAW Hamburg
#               2021 Gerson Fernando Budke
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config CPU_ARCH_AVR8
    bool
    select HAS_ARCH_8BIT
    select HAS_ARCH_AVR8

config CPU_ARCH_AVR8_NESTED_ISR
    bool "Enable AVR-8 nested interrupts"
    help
        ATmega requires that user re-enebale interrupt inside ISR handle to
        allow nested interrupts.  ATxmega has a specialized controller to allow
        three interrupt levels: low, mid, high.  The controller automatically
        prioritize according to level and vector address.  The round-robin
        priority scheme within low-level interrupts can be enable to avoid
        starvation at low level.

## Common CPU symbols
config CPU_ARCH
    default "avr8" if CPU_ARCH_AVR8

config CPU_CORE
    default "avr" if CPU_CORE_AVR

## Declaration of specific features
config HAS_ARCH_AVR8
    bool
    help
        Indicates that the current architecture is Atmel AVR8.
