# Copyright (c) 2020 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menu "STM32 F0 clock configuration"
    depends on CPU_FAM_F0

choice
bool "Clock source selection"
default USE_CLOCK_PLL

config USE_CLOCK_PLL
    bool "Use PLL as system clock"

config USE_CLOCK_HSE
    bool "Use HSE as system clock"
    depends on BOARD_HAS_HSE

config USE_CLOCK_HSI
    bool "Use HSI as system clock"

endchoice

if USE_CLOCK_PLL
config CLOCK_PLL_PREDIV
    int "PLLIN division factor"
    default 1
    range 1 16

config CLOCK_PLL_MUL
    int "PLLIN multiply factor"
    default 6
    range 2 16
endif

choice
bool "APB prescaler (division factor of HCLK to produce PCLK)"
default CLOCK_APB1_DIV_1

config CLOCK_APB1_DIV_1
    bool "Divide HCLK by 1"

config CLOCK_APB1_DIV_2
    bool "Divide HCLK by 2"

config CLOCK_APB1_DIV_4
    bool "Divide HCLK by 4"

config CLOCK_APB1_DIV_8
    bool "Divide HCLK by 8"

config CLOCK_APB1_DIV_16
    bool "Divide HCLK by 16"

endchoice

config CLOCK_APB1_DIV
    int
    default 1 if CLOCK_APB1_DIV_1
    default 2 if CLOCK_APB1_DIV_2
    default 4 if CLOCK_APB1_DIV_4
    default 8 if CLOCK_APB1_DIV_8
    default 16 if CLOCK_APB1_DIV_16

endmenu

source "$(RIOTBOARD)/common/stm32/Kconfig"
